* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 200%;
    overflow: hidden;
    position: relative;
    margin: 10px;
    box-shadow: 5px 8px 12px black;
}

header.img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

header h1 {
    font-size: 3rem;
    color: black;
  
    top: 100%;
    left: 100%;
}

#logo img {
    position: absolute;
    top: 800px;
    left: 150px;
    width: 300px;
    height: 300px;
}

#logo h2 {
    width: 100%;
    height: 40px;
    background-color: black;
    color:white;
text-align: center;

}


nav a {
    position: relative;
    top: 80px;
    right: 100px;
    background-color: green;
    color: grey;
    height: 50px;
    text-decoration: none;

}

.home {
    width: 150px;
    height: 40px;
    display: inline-block;
    color: black;
    position: absolute;
    top: 1px;
    right: 15px;


}

.about {
    width: 10px;
    height: 40px;
    display: inline-block;
    color: black;
    position: absolute;
    top: 1px;
    right: 15px;
}

.contact {
    width: 90px;
    height: 40px;
    display: inline-block;
    color: black;
    position: absolute;
    top: 1px;
    right: 15px;

}

aside {

    position: absolute;
    right: 700px;
    width: 30%;
    height: 30%;

 }
